<h1>Admin Dashboard</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Your Store</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/admin/products">Products</td>
      <td><%= @product_count %></td>
    </tr>
    <tr>
      <td>Categories</td>
      <td><%= @category_count %></td>
    </tr>
  </tbody>
</table>
